@keyframes pulse-live {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	10% {
		transform: scale(0.1);
		opacity: 1;
	}
	20% {
		transform: scale(0.2);
		opacity: 0.9;
	}
	30% {
		transform: scale(0.3);
		opacity: 0.8;
	}
	40% {
		transform: scale(0.4);
		opacity: 0.7;
	}
	50% {
		transform: scale(0.5);
		opacity: 0.6;
	}
	60% {
		transform: scale(0.6);
		opacity: 0.5;
	}
	70% {
		transform: scale(0.7);
		opacity: 0.4;
	}
	80% {
		transform: scale(0.8);
		opacity: 0.3;
	}
	90% {
		transform: scale(0.9);
		opacity: 0.2;
	}
	100% {
		transform: scale(1);
		opacity: 0.1;
	}
}

.dentes-cima,
.dentes-baixo {
  width: 100%;
  height: 10rem;
  background-color: #000;
  transition: transform 0.5s ease;
  padding-bottom: 10%;
}

.dentes-cima {
  clip-path: polygon(
    15% 0, 22% 100%, 29% 0, 36% 100%, 43% 0, 50% 100%, 57% 0, 64% 100%, 71% 0%, 78% 100%, 85% 0
  );
}

.dentes-baixo {
  clip-path: polygon(15% 100%, 22% 0, 29% 100%, 71% 100%, 78% 0, 85% 100%);
}

.bocao:hover:not(:has(.gengiva:hover)) .dentes-baixo {
  transform: translateY(20px)
}

.bocao:hover:not(:has(.gengiva:hover)) .dentes-cima {
  transform: translateY(-20px)
}

.gengiva {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0, 85% 0, 78% 60%, 71% 0, 29% 0%, 22% 60%, 15% 0);
  padding-bottom: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.gengiva:after {
  content: "";
  background-color: #FFB50D;
  position: relative;
  top: 80px;
  height: 6rem;
  width: 6rem;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.live-wave-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-wave {
	border: 10px solid #A94F95;
	background: transparent;
	height: 600px;
	width: 600px;
	animation: pulse-live 2s ease-out;
	animation-iteration-count: infinite;
	position: absolute;
	z-index: 1;
  opacity: 0;
}

.live-wave:nth-child(1) {
  animation-delay: 0s;
}
.live-wave:nth-child(2) {
  animation-delay: 0.2s;
}
.live-wave:nth-child(3) {
  animation-delay: 0.4s;
}
.live-wave:nth-child(4) {
  animation-delay: 0.6s;
}
.live-wave:nth-child(5) {
  animation-delay: 0.8s;
}
.live-wave:nth-child(6) {
  animation-delay: 1s;
}
.live-wave:nth-child(7) {
  animation-delay: 1.2s;
}
.live-wave:nth-child(8) {
  animation-delay: 1.4s;
}
.live-wave:nth-child(9) {
  animation-delay: 1.6s;
}
.live-wave:nth-child(10) {
  animation-delay: 1.8s;
}
